# ignore
.vscode
.cache
.config
.ipynb_checkpoints
.ipython
.jupyter
.local
.npm
.bash_history
.python_history
__pycache__
data
logs

src/**/*.user*
src/**/*.filters
src/**/.vs
src/**/x64
*.zip

GPUCameraSample*
OtherLibs*
build-*